Package: com.christmanzoo.rottenratings
Name: Rotten Tomatoes ratings
Version: 1.0-1
Description: 
Section: System
Depends: firmware (>= 7.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: rebelzoo
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

